<div id="page-content-wrapper">
    <h3>SHOP MANAGER DASHBOARD</h3>
    #TODO: Shop Manager Summary
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
            <%= yield :dashboard %>
            </div>
        </div>
    </div>
</div>
