<div id="page-content-wrapper">
        <h3>SHOP MANAGER DASHBOARD</h3>
        #TODO: Shop Manager Summary
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Simple Sidebar</h1>
                        <p>This will show analytics and summary of orders, vouchers, prodcuts ordered, give option to edit shop..etc </p>
                      
                    </div>
                </div>
            </div>
        </div>