<!-- #TODO: Landing Image, How it Works, Location Selector -->
<div class="landing">
</div>
<div class="container">
  <div class="row">
</div>

</div>
<%= render 'products/listing' || "There are no products available" %>

