// Place all the styles related to the koodishop_admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.formbg{
background-color: #f39c12;
color: #000;
margin-top: 50px;
padding: 50px;
width: 33%;
margin-right: auto;
margin-left: auto;
border-radius: 20px;
}

.container .brand{color: #fff;}
ul.nav a { color: #fff !important; text-shadow: none;}
ul.nav a:hover { color: #DE7D00 !important; }
ul.active a{ color: #894E00 !important; }
.nav .active {  color: #894E00 !important; }
.navbar-nav .active > a{
color: #000;
background: #d65c14;
}