<!-- # TODO add_to_cart, link_to _single.html.erb -->
<div class="container">
  <div class="row">
    <ul class="thumbnail-list">
      <%= @products.each do |product| %>
      <li>
        <a href="#" class=""><img src="/assets/400x400.png" class=""></a>
          <h4 class=""><%= product.product_name %></h4>
          <div class="product-price">
            <span class="cut-price"><%= product.product_deal_price %></span>
            <span class="normal-price"><%= product.product_price %></span>
          </div>
        <button type="button" class="btn btn-default navbar-btn">Add to Cart</button>
      </li>
      <% end %>
    </ul>
  </div>
</div>
